<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css" />

</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <ul class="cart__item-list">
      <% products.forEach(p=>{ %>
        <li><%= p.productId.title %>(<%= p.quantity %>)
      </li>
        <%})%>
    </ul>
    <div class="centered">
      <h2>Total: <%= totalSum %></h2>
    </div>
    <div class="centered">
      <button id="order-btn" class="btn">Order</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        var stripe = Stripe('pk_test_51Gz5N6FwSSqkBSAcMbmImQNlTFrSEip30vLM2HiRITwmPaeDsNQZH7GpUVRIZzuUJejXVwqdU9z2u5EjPfOA9nQW00kg46cA9W');
        var orderBtn = document.getElementById('order-btn');
        orderBtn.addEventListener('click', function(){
          stripe.redirectToCheckout({
            sessionId: '<%= sessionId %>'
          });
        });
      </script>
    </div>
  </main>

<%- include('../includes/end.ejs') %>
